<h2>トレンド記事一覧</h2>
<%= search_form_for @q, url: root_path do |f| %>
  <%= f.search_field :tags_name_cont, placeholder: "タグ名を入力" %>
  <%= f.submit '検索' %>
<% end %>
<div class="search_cancel_area">
  <%= link_to root_path, class:"search_cancel" do %>
    <i class="fas fa-window-close"></i> 検索をクリア
  <% end %>
</div>
<div class="item_container">
  <% @items.each do |item| %>
    <div class="item_user">
      <%= link_to "@#{item.user.name}", "https://qiita.com/#{item.user.name}", target: :_blank, rel: "noopener noreferrer" %>が<%= show_jp_date(item.created_at) %>に投稿
    </div>
    <h5><%= link_to item.title, item.url, target: :_blank, rel: "noopener noreferrer", class:"item_title" %></h5>
    <p>
      タグ:
      <% item.tags.each do |tag| %>
        <%= link_to controller: "items", action: "index", q: {tags_name_cont: "#{tag.name}"} do %>
          <span class="item_tags"><i class="fas fa-tags"></i><%= "#{tag.name}"%></span>
        <% end %>
      <% end %>
      <div><%= image_tag 'lgtm.png', class: 'item_lgtm' %> +<%= item.likes_count %></div>
    </p>
  <% end %>
</div>
<%= paginate @items %>